	            /*My CSS Editing*/

	/* Start Main Rules */


			body {
			    background-color: #FFF;
			    font-size: 16px;
			}
			h1{
				font-size: 50px;
				margin: 20px 0;
				font-weight: bold;
				color: #666;
			}
			.asterisk {
				font-size: 30px;
				position: absolute;
				right: 30px;
				top: 8px;
				color: #D20707;
			}
			.nice-message{
				background-color: #EEE;
				margin:10px 0;
				padding: 10px 5px 10px 5px;
				border-left: 10px solid green;
			}
	/* End Main Rulez */

	/* Start Login Form */

			.login{
			    width: 300px;
			    margin: 100px auto;
			}

			.login h4{
			    color: #888;
			    font-size: 30px;
			}

			.login input {
			    margin-bottom:10px;
			}

			.login .form-control {
			    background-color: #EAEAEA;
			}

			.login .btn {
			    background-color: #008dde;
			}

	/* End Login Form */

	/* Start BootStrap Editing */

		.navbar{
			border-radius: 0;
			margin-bottom: 0;

		}

		.nav>li>a , .navbar-brand{
	    	padding-right: 12px;
		}

		.navbar-brand{
			front-size: 1em;  /*em mean one of size that body has Denamic size which body size change that also change*/
		}

		.dropdown-menu{
		    min-width: 180px;
		    font-size: 18px;
		    min-height: 90px;
		}

	/* End BootStrap Editing */

	/* Start Admin Dashboard page */

		.home-stats .stat {
			padding: 20px ;
			font-size: 15px;
			color: #FFF;
			border-radius: 10px;
			position: relative;
			overflow: hidden;
		}

		.home-stats .stat i {
			position: absolute;
			font-size: 80px;
			top: 35px;
			left: 30px
		}

		.home-stats .stat .info{
			float: right;
		}

		.home-stats .stat a {
			color: #FFF;
		}

		.home-stats .stat a:hover {
			text-decoration: none;
		}

		.home-stats .stat span {
			display: block;
			font-size: 60px;

		}

		.home-stats .st-members {
			background-color: #c0392b
		}
		.home-stats .st-pending {
			background-color: #c0392b
		}
		.home-stats .st-items {
			background-color: #c0392b
		}
		.home-stats .st-comments {
			background-color: #c0392b
		}

		.latest {
			margin-top:50px;
		}

		.latest .toggle-info{
			color: #999;
		}

		.latest .toggle-info :hover{
			color: #444;
			cursor: pointer;
		}

		.latest-users {
			margin-bottom: 0 ;
		}
		.latest-users li{
			padding: 10px ;
			overflow: hidden;
		}
		.latest-users li:nth-child(even){
			background-color: #EEE;
		}
		.latest-users .btn-success {
			padding: 2px 8px;
		}
		.latest-users .btn-info {
			padding: 2px 8px;
			margin-right: 3px;
		}
		.latest .comment-box{
			margin: 5px 0 10px;
		}
		.latest .comment-box .member-n,
		.latest .comment-box .member-c{
			float: left;
		}
		.latest .comment-box .member-n{
			width: 80px;
			text-align: center;
			margin-right: 20px;
			position: relative;
			top: 10px;
		}
		.latest .comment-box .member-c{
			width: calc( 100% - 100px );
			background-color: #EFEFEF;
			padding: 10px;
			position: relative;
		}
		.latest .comment-box .member-c:before {
			content: " ";
			display: block;
			position: absolute;
			left: -28px;
			top: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent  #EFEFEF transparent transparent;
			border-width: 15px;
		}


	/* End Admin Dashboard page */


        /* Start Member Page */
	    .show-pass {
			position: absolute;
			top: 6px;
			right: -30px;
		}
		.manage-members img{
			width: 50px;
			height: 50px;
		}
		.main-table {
			-webkit-box-shadow: 0 3px 10px #CCC;
			-moz-box-shadow: 0 3px 10px #CCC;
			box-shadow: 0 3px 10px #CCC;
		}

		.main-table td{
			background-color: #FFF;
			vertical-align: middle !important;
		}

		.main-table tr:first-child td{/*You Can Use Thead*/
			background-color: #2c3e50;
			color:#FFF;
		}

		.main-table .btn{
			padding: 3px 10px;
		}

		.activate{
			margin-left: 5px;
		}

	 /* End Member pages*/

/*Start Category Page*/

.categories .panel-heading {
	color: #959595;
	font-weight: bold;

}

.categories .panel-body {
	padding: 0;
}

.categories .option a {
	color: #888;
	text-decoration: none;
}

.categories .option span {
	color: #888;
	cursor: pointer;
}

.categories .option .active {
	color: #F00;
}

.categories hr {
	margin-top: 0;
	margin-bottom: 0;
}

.categories .cat {
	padding: 15px;
	position: relative;
	overflow: hidden;
}

.categories .cat:hover {
	background-color: #EEE;
}

.categories .cat:hover .hidden-buttons {
	right: 10px;
}

.categories .cat .hidden-buttons {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	top: 15px;
	right: -120px;
}

.categories .cat .hidden-buttons a {
	margin-right: 5px;
}

.categories .cat h3 {
	margin: 0 ;
	cursor: pointer;
	font-weight: bold;
	color: #6A6A6A;

}

.categories .cat .full-view p{
	margin: 10px 0 ;
	color: #707070;

}

.categories .cat:last-of-type ~ hr{
	display: none;
}

.categories .cat .visibility{
	background-color: #c0392b;
	color:#FFF;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}

.categories .cat .commenting {
	background-color: #2c3e50;
	color:#FFF;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}

.categories .cat .advertises {
	background-color: #c0392b;
	color:#FFF;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}
.addbtn{
	margin-top: -10px;
	margin-bottom: 30px;
}
.categories .child-head{
	margin: 15px 0 10px;
	font-weight: bold;
	font-size: 16px;
	color: #22ab79;
}
.categories .child-cats{
	margin: 0;
}
.categories .child-cats li{
	margin-left: 15px;
}
.categories .child-cats li:before{
	content: " - ";
}
.categories .show-delete{
	color: #F00;
	display: none;
}
/*End Category Page*/
